*.class
#package file
*.war
*.ear

#kdiff3 ignore diff tool
*.orig

#maven file
target/


#eclipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
